{% extends 'base.html.twig' %}

{% block title %}Mon compte - Symfocars{% endblock %}

{% block body %}


<div class="wrapper">
   <h1>Mon Compte</h1>
    <hr>
    <h4>Bonjour {{app.user.firstname}},</h4>  

    <p>Bienvenu dans votre espace </p>
    </p>
    <hr>

    <div class="col-12 d-flex justify-content-center g-3">
    <a href="{{path('app_accountPassword')}}" class="btn btn-primary current-btn col-4 " role="button"> Modifier mon mot de passe</a>
    <a href="{{path('app_account_adress')}}" class="btn btn-primary current-btn col-4 " role="button"> Gérer mes adresses</a>
    <a href="{{path('app_account_order')}}" class="btn btn-primary current-btn col-4 " role="button"> Mes commandes</a>
    </div>

</div>
{% endblock %}
