{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Symfocar{% endblock %}

{% block body %}

<div class="wrapper login-logout">
    <h1 class="h2 mb-5" >Réinitialiser mon mot de passe</h1>

    {{form(form)}}

</div>
{% endblock %}
