{% extends 'base.html.twig' %}

{% block title %}Nos voitures{% endblock %}

{% block body %}


<div class="wrapper wrapper-products">
    <h1>Nos voitures</h1>
    <div class="row">
        <div class="col-3">
            <h2>Filtrer</h2>
            {{form(form)}}
        </div>
        <div class="col-md-9">
            <div class="row">

                {% for product in products %}
                    <div class="col-md-4" >
                        {% include 'product/single_product.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
       
    </div>

</div>
{% endblock %}
