{% extends 'base.html.twig' %}

{% block title %}Contact - Symfocar{% endblock %}

{% block body %}
    <div class="wrapper login-logout">
        <h1>Nous Contacter </h1>

        {{ form(form) }}

    </div>
{% endblock %}
