<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-block">
        <h6>À propos de Symfocar</h6>
        <p>Nous sommes une entreprise spécialisée dans la vente de voitures d'occasion. Notre objectif est de proposer des voitures de qualité à des prix abordables.</p>
      </div>
      <div class="col-md-4 footer-block">
        <h6>Nos services</h6>
        <ul class="text-decoration-none">
          <li><a href="#" class="text-decoration-none">Vente de voitures d'occasion</a></li>
          <li><a href="#" class="text-decoration-none">Réparation et entretien de voitures</a></li>
          <li><a href="#" class="text-decoration-none">Location de voitures</a></li>
        </ul>
      </div>
      <div class="col-md-4 footer-block">
        <h6>Nous contacter</h6>
        <ul>
          <li>Adresse : 123 rue de la République, 75000 Paris</li>
          <li>Téléphone : 01 23 45 67 89</li>
          <li>Email : contact@symfocar.com</li>
        </ul>
      </div>
    </div>
  </div>
</footer> 


